@use "../../../../../../styles/index.scss" as *;

$form-label: rgb(89, 90, 91);
$form-input-border: #d5d5d5;

.add-ticket {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;

  .btn_container {
    margin-top: 2rem;
    max-width: $sm;
    gap: 1rem;
    display: flex;
    flex-direction: row;
  }

  .error {
    color: red;
    font-style: italic;
    font-size: 12px;
  }
}

.passengers-section {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  h4 {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: teal;
    font-size: 700;
    letter-spacing: 0.25rem;
  }
}
.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  gap: 0.25rem;
  background: rgba(255, 0, 0, 0.106);
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 16px;
  margin-bottom: 1rem;

  span {
    font-size: 12px;
  }
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;
  gap: 0.25rem;
  background: rgba(0, 128, 128, 0.115);
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 16px;
  margin-bottom: 1rem;

  span {
    font-size: 12px;
  }
}
