@use "../../../../src/styles/index.scss" as *;


.identity-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;

  @include custom-media-query("mobile", $sm) {
    align-items: center;
  }

  &_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &capture {
      height: 250px;
      width: 250px;
      background-color: #e3e3e3;
      border-radius: 0.5rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    justify-content: center;
  }
}

.user-image {
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border: 2px solid #e3e3e3;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .user {
    font-size: 10rem;
    color: #9a9a9a;
  }
}

.button-container {
  display: flex;
  gap: 1rem;
}
