@use "../../../../../styles/index.scss" as *;

.main-table {
  width: 100%;
  overflow: scroll;
  display: grid;
  gap: 1rem;

  &_form_tickets_container {
    .tickets {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      display: grid;
      gap: 1rem;

      @include custom-media-query("mobile", $sm) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      .ticket {
        cursor: pointer;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
        -webkit-box-shadow: 11px 10px 34px 0px #d0d0d01f;
        -moz-box-shadow: 11px 10px 34px 0px #d0d0d01f;
        box-shadow: 11px 10px 14px 0px #d0d0d01f;

        div:first-child {
          p {
            font-size: 14px;
            &:first-child {
              font-weight: bold;
              font-size: 16px;
              color: green;
            }

            &:last-child {
              font-size: 14px;
              color: $text-primary;
            }
          }
        }
        div:last-child {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          align-items: flex-end;
          p {
            &:nth-child(1) {
              font-weight: bold;
              font-size: 16px;
              color: #04ac88;
            }

            &:last-child {
              font-size: 12px;
              color: $text-primary;
              font-weight: 700;
            }
          }
          .next_date {
            font-size: 12px;
            color: $text-primary;
            display: inline-flex;
            gap: 0.25rem;

            span {
              text-align: end;
            }

            .icon {
              color: #ffb700;
            }
          }
        }
      }

      .completed {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #059669;
        background-color: rgba(110, 231, 183, 0.316);
        border-radius: 0.5rem;
        padding: 0.1rem 0.7rem;
        gap: 0.25rem;
        font-size: 12px;
        max-width: 100px;

        &:hover {
          background-color: rgba(110, 231, 183, 0.528);
        }

        .icon {
          font-size: 16px;
        }
      }
      .pending {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(202 138 4);
        background-color: #fde04751;
        border-radius: 0.5rem;
        padding: 0.1rem 0.7rem;
        gap: 0.25rem;
        font-size: 12px;
        max-width: 100px;

        &:hover {
          background-color: rgba(110, 231, 183, 0.528);
        }

        .icon {
          font-size: 16px;
        }
      }
    }
  }
}

.filter-input {
  display: flex;
  width: 100%;
  border: 1px solid #3ba361;
  background-color: #ffffff;
  border-radius: 0.5rem;

  input {
    padding-left: 0.25rem;
    width: 85%;
  }

  label {
    padding: 0.75rem;
    font-size: 18px;
    color: $text-primary;
  }
}
