@use "../../../../styles/index.scss" as *;

// BillDetails.module.scss

.bill-details {
    border: 1px solid rgba(113, 113, 122, 0.111); 
    padding: 16px;
    border-radius: 8px;
  
    h3 {
      font-size: 1.125rem;
      margin-bottom: 12px;
    }
  
    h4 {
      margin-top: 12px;
      font-size: 1rem;
      font-weight: 600;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 8px;
      
      thead {
        tr {
          background-color: rgba(4, 120, 87, 0.1); 
        }
        th {
          border: 1px solid rgba(113, 113, 122, 0.111);
          padding: 8px;
          color: black;
        }
      }
  
      tbody {
        tr {
          text-align: center;
          
          td {
            border: 1px solid rgba(113, 113, 122, 0.111);
            padding: 8px;
            color: black;
          }
        }
      }
    }
  
    p {
      margin-top: 12px;
      align-items: flex-end;
      align-content: flex-end;
  
      strong {
        font-weight: 700;
      }
    }
  }
  