@use "../../../../../styles/index.scss" as *;

.date_group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    .form_group {
      flex: 1; 
    }
  }

.tab_selector {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;

  button {
    background-color: #f0f4ff; 
    border: 1px solid #86efac;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

    &:hover {
       background-color: #86efac;
    }

    &.active {
      background-color: $primary;
      color: white;
      font-weight: 600;
      border: 1px solid #86efac;
      box-shadow: 0 4px 10px rgba(0, 112, 243, 0.2);
    }
  }
}

.search_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}


