@use "../../../../src/styles/index.scss" as *;

.impoundment {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 2rem;

    @include custom-media-query("mobile", $sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    &_buttons {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1rem;
    }
  }
}



.filter-input {
  display: flex;
  width: 100%;
  border: 1px solid #3ba361;
  background-color: #ffffff;
  border-radius: 0.5rem;

  input {
    padding-left: 0.25rem;
    width: 85%;
  }

  label {
    padding: 0.75rem;
    font-size: 18px;
    color: $text-primary;
  }
}